<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input type="text" name="city" placeholder="Search city" [(ngModel)]="cityName">
  </form>
</div>
<div class="container" *ngIf="weatherData">
  <div class="upper-data">
    <img *ngIf="weatherData.main.temp > 15" src="https://images.pexels.com/photos/1424246/pexels-photo-1424246.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="img1">
    <img *ngIf="weatherData.main.temp <= 15" src="https://images.pexels.com/photos/1076885/pexels-photo-1076885.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="img2">
  <div class="weather-data">
    <div class="location">{{weatherData.name}}</div>
    <div class="temperature">{{weatherData.main.temp| number:'1.0-0'}} &#176;C</div>
  </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">
      More Information
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="https://cdn-icons-png.flaticon.com/512/4158/4158501.png" alt="">
          <span>min</span>
        </div>
        <div class="info-block-value">
          {{weatherData.main.temp_min | number:'1.0-0'}}°C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="https://cdn-icons-png.flaticon.com/512/1684/1684375.png" alt="">
          <span>max</span>
        </div>
        <div class="info-block-value">
          {{weatherData.main.temp_max | number:'1.0-0'}}°C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="https://cdn-icons-png.flaticon.com/512/728/728093.png" alt="">
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          {{weatherData.main.humidity}}%
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="https://cdn-icons-png.flaticon.com/512/2997/2997214.png" alt="">
          <span>wind</span>
        </div>
        <div class="info-block-value">
          {{weatherData.wind.speed}} km/hr
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="upper-data">
    <img *ngIf="14 > 15" src="https://images.pexels.com/photos/373481/pexels-photo-373481.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="img1">
    <img *ngIf="14 <= 15" src="https://images.pexels.com/photos/1076885/pexels-photo-1076885.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="img2">
  <div class="weather-data">
    <div class="location">Wellington</div>
    <div class="temperature">{{ 14.40| number:'1.0-0'}} &#176;C</div>
  </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">
      More Information
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="https://cdn-icons-png.flaticon.com/512/4158/4158501.png" alt="">
          <span>min</span>
        </div>
        <div class="info-block-value">
          10°C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="https://cdn-icons-png.flaticon.com/512/1684/1684375.png" alt="">
          <span>max</span>
        </div>
        <div class="info-block-value">
          20°C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="https://cdn-icons-png.flaticon.com/512/728/728093.png" alt="">
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          77%
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="https://cdn-icons-png.flaticon.com/512/2997/2997214.png" alt="">
          <span>wind</span>
        </div>
        <div class="info-block-value">
          11 km/hr
        </div>
      </div>
    </div>
  </div>
</div> -->

<router-outlet></router-outlet>
